extends layout 

block content 
    h1 Log in 
    if currentUser 
        p You are already logged in 
        a(href="/")
            button.btn.btn-primary(type="button") Back to index
    else 
        form(method="POST") 
            div.form-group
                label(for="username") Username: 
                input#username.form-control(type="text" placeholder="Enter username" name="username" required value=(undefined===username?"":username))  
            div.form-group
                label(for="password") Password: 
                input#password.form-control(type="password" placeholder="Enter password" name="password" required )         
            button.btn.btn-primary(type="submit") Log in